*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-color:white;
    background-size:cover;
    background-position:center;
}
.navbar{
    width: 85%;
    margin:auto;
    padding:35px 0;
    align-items: center;
    border: 5px solid rgb(79, 184, 212);
    padding: 10px;
    border-radius: 5%;
    background-color: rgb(103, 210, 240);
    justify-content: center;
    text-align: center;
}
.navbar h6{
    font-size:70px;
    margin-right: auto;
}
.container{
    width: 100%;
    height:auto;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top:10px;
    flex-flow:wrap;
    flex-direction: row;
}
.content{
    width:85%;
    height:500px;
    background-color: gray;
    border: 5px solid lightgray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    
    box-sizing: border-box;
}
.button{
    width: 400px;
    height:200px;
    font-size: 70px;
}
@media screen and (max-width: 500px) {
    .container,.content {
        flex-direction: column;
    }
}